.footer{
    background: rgb(27, 162, 6);
    padding: 10px;
    display: flex;
    justify-content: center;
}
.footer-col{
    width: 100%;
    justify-content: center;
}

.header{
    background: rgb(27, 162, 6);
    display: flex;
    padding: 10px;
}

.main{
    background: rgb(6, 111, 6);
}
