<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
</head>
<body>
    <div style = "display: flex; justify-content: space-around; margin-bottom: 20px;">
        <a href="/" >main</a>
        <a href="/news/" >news</a>
        <a href="/chapter/" >chapter</a>
        <a href="/facts/" >facts</a>
        <a href="/management/" >management</a>
        <a href="/history/" >history</a>
    </div>

    <div style = "display: flex;">
        <div style = "margin-right: 20px;">
            <a href="{% url 'history_people' %}">History of People</a>
        </div>
        <div>
            <a href="{% url 'history_photos' %}">History of Photos</a>
        </div>
    </div>


    <p>History of People</p>
    <p>Name: John Doe</p>
    <p>Born: January 1, 1900</p>
    <p>Died: December 31, 1980</p>
</body>
</html>